@media (max-width: 767px)
  .border-left-golden
    border-left: none
    padding-left: 15px

  #main-carousel
    .carousel-item
      img
        height: 22rem
    .carousel-caption
      left: 0rem
      top: 0rem
      .main-title
        font-size: 1.9rem
      .main-subtitle
        font-size: 1.6rem
      .main-summary
        font-size: 1rem

  ul.pagination
    .page-item
      a
        font-size: .8rem
