$fa-font-path: '../webfonts'

@import '~bootstrap/scss/bootstrap'

@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/brands'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/solid'

@import "~bootstrap/scss/bootstrap"

@import 'colors'

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap')

[v-cloak]
  display: none

body
  font-family: 'Roboto', sans-serif

.font-golden
  color: $golden !important

.font-blue
  color: $blue !important

#primary-menu
  .menu-item
    margin-right: .5rem
    // &::after
    //   content: '\00B7'
    //   margin-left: 1rem
    a
      font-family: 'Merriweather', serif
      font-weight: normal
      // margin-left: auto
      // margin-right: auto
    &.active
      a
        border-bottom: .5rem solid $golden
        color: $dark

.bg-columns
  background: url(../../images/bg-columns.png) no-repeat
  background-size: 100%
  background-position: top

#social-icons
  li
    &:not(:last-child)
      border-right: 1px solid $golden
    a
      color: $golden

.title, .subtitle
  font-family: 'Merriweather', serif
  font-weight: 300

.btn-action
  background-color: $golden
  border-color: $golden